@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
    /* padding: 40px; */
    background-image: linear-gradient(#e8f0ff 0%, white 52.08%);
    color: #0e3481;
    min-height: 100vh;
}

header {
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

/* 
.nGY2 .nGY2GThumbnail,
.nGY2 .nGY2GThumbnailStack {
    border: none !important;
}

.nanogallery_gallerytheme_dark_nanogallery .nGY2GThumbnail {
    background: none !important;
} */